<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;background:transparent;display:block;" width="150px" height="150px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
    <defs>
        <pattern id="ldio-hhpg1xtt9n-pattern" patternUnits="userSpaceOnUse" x="0" y="0" width="100" height="100">
            <rect x="0" y="0" width="100" height="100" fill="#fcf7f3"></rect>
            <circle cx="56" cy="0" r="9" fill="#135868">
                <animateTransform attributeName="transform" type="translate" values="0 158;0 -58" keyTimes="0;1" dur="2s" begin="-0.22s" repeatCount="indefinite"></animateTransform>
            </circle>

            <circle cx="56" cy="0" r="9" fill="#135868">
                <animateTransform attributeName="transform" type="translate" values="0 114;0 -14" keyTimes="0;1" dur="2s" begin="-1.42s" repeatCount="indefinite"></animateTransform>
            </circle>

            <circle cx="38" cy="0" r="8" fill="#135868">
                <animateTransform attributeName="transform" type="translate" values="0 129;0 -29" keyTimes="0;1" dur="2s" begin="-1.98s" repeatCount="indefinite"></animateTransform>
            </circle>

            <circle cx="50" cy="0" r="8" fill="#135868">
                <animateTransform attributeName="transform" type="translate" values="0 125;0 -25" keyTimes="0;1" dur="2s" begin="-0.04s" repeatCount="indefinite"></animateTransform>
            </circle>

            <circle cx="31" cy="0" r="10" fill="#135868">
                <animateTransform attributeName="transform" type="translate" values="0 137;0 -37" keyTimes="0;1" dur="2s" begin="-1.78s" repeatCount="indefinite"></animateTransform>
            </circle>

            <circle cx="91" cy="0" r="8" fill="#135868">
                <animateTransform attributeName="transform" type="translate" values="0 133;0 -33" keyTimes="0;1" dur="2s" begin="-0.76s" repeatCount="indefinite"></animateTransform>
            </circle>

            <circle cx="32" cy="0" r="10" fill="#135868">
                <animateTransform attributeName="transform" type="translate" values="0 115;0 -15" keyTimes="0;1" dur="2s" begin="-0.06s" repeatCount="indefinite"></animateTransform>
            </circle>

            <circle cx="53" cy="0" r="10" fill="#135868">
                <animateTransform attributeName="transform" type="translate" values="0 127;0 -27" keyTimes="0;1" dur="2s" begin="-0.76s" repeatCount="indefinite"></animateTransform>
            </circle>

            <circle cx="36" cy="0" r="9" fill="#135868">
                <animateTransform attributeName="transform" type="translate" values="0 135;0 -35" keyTimes="0;1" dur="2s" begin="-1.48s" repeatCount="indefinite"></animateTransform>
            </circle>

            <circle cx="6" cy="0" r="8" fill="#135868">
                <animateTransform attributeName="transform" type="translate" values="0 150;0 -50" keyTimes="0;1" dur="2s" begin="-0.9s" repeatCount="indefinite"></animateTransform>
            </circle>

            <circle cx="3" cy="0" r="10" fill="#135868">
                <animateTransform attributeName="transform" type="translate" values="0 145;0 -45" keyTimes="0;1" dur="2s" begin="-0.86s" repeatCount="indefinite"></animateTransform>
            </circle>

            <circle cx="69" cy="0" r="10" fill="#135868">
                <animateTransform attributeName="transform" type="translate" values="0 117;0 -17" keyTimes="0;1" dur="2s" begin="-1.96s" repeatCount="indefinite"></animateTransform>
            </circle>

            <circle cx="92" cy="0" r="8" fill="#135868">
                <animateTransform attributeName="transform" type="translate" values="0 110;0 -10" keyTimes="0;1" dur="2s" begin="-1.22s" repeatCount="indefinite"></animateTransform>
            </circle>

            <circle cx="91" cy="0" r="8" fill="#135868">
                <animateTransform attributeName="transform" type="translate" values="0 110;0 -10" keyTimes="0;1" dur="2s" begin="-1.06s" repeatCount="indefinite"></animateTransform>
            </circle>

            <circle cx="98" cy="0" r="7" fill="#135868">
                <animateTransform attributeName="transform" type="translate" values="0 155;0 -55" keyTimes="0;1" dur="2s" begin="-0.78s" repeatCount="indefinite"></animateTransform>
            </circle>
        </pattern>
    </defs>
    <circle fill="url(#ldio-hhpg1xtt9n-pattern)" cx="50" cy="50" r="40" stroke="#e74e32" stroke-width="2"></circle>
</svg>