<div *ngIf="dots != undefined" class="row justify-content-center align-items-center py-2 px-4">
    <div class="col-auto">
        <a mat-mini-fab color="transparent" (click)="emit('prev')" class="mat-elevation-z0" [disabled]="index == 0">
            <app-icon name="chevron-left" [color]="MatColor.primary"></app-icon>
        </a>
    </div>

    <div *ngFor="let d of dots; index as i" class="col-auto">
        <a *ngIf="i == index" mat-icon-button color="transparent" class="mat-elevation-z2">
            <app-icon  [name]="d.iconName" [size]="size" [color]="d.color"></app-icon>
        </a>

        <a *ngIf="i != index" mat-mini-fab color="transparent" (click)="emit(i)" class="mat-elevation-z0" [disabled]="d.disabled">
            <app-icon [name]="d.iconName" [size]="size" [color]="d.color"></app-icon>
        </a>
    </div>


    <div class="col-auto">
        <a mat-mini-fab color="transparent" (click)="emit('next')" class="mat-elevation-z0" [disabled]="index == dots.length-1">
            <app-icon name="chevron-right" [color]="MatColor.primary"></app-icon>
        </a>
    </div>
</div>