<div class="f-row fd-col g-3">
  <mat-tab-group
    [selectedIndex]="activeIndex"
    headerPosition="below"
  >
    @for (img of imgs; track $index) {
    <mat-tab mat-stretch-tabs="false">
      <ng-template mat-tab-label>
        <app-icon name="fiber_manual_record" [color]="Color.primary"></app-icon>
      </ng-template>
      <ng-template matTabContent>
        <app-img [image]="imgs[activeIndex]"></app-img>
      </ng-template>
    </mat-tab>
    }
  </mat-tab-group>
</div>


assaabloy email
Endof$umm3r
336-251-1200


Startup Repair - Error
Command Prompt - 
Uninstall Updates

UEFI Firmware Settings
System Restore  - Error
System Image Recovery  - Error