<div class="f-row g-3 j-start">
  <button
    mat-mini-fab
    (click)="decreaseQuantity()"
    [color]="Color[Color.warn]"
    [disabled]="value <= 1">
    <app-icon
      name="remove"
      [color]="Color.light"></app-icon>
  </button>

  <!-- <div class="shrink">
    <app-form-field [field]="productControls[0]"></app-form-field>
  </div> -->

  <div class="">
    <app-text
      [level]="3"
      [label]="value"></app-text>
  </div>

  <button
    mat-mini-fab
    (click)="increaseQuantity()"
    [color]="Color[Color.accent]"
    [disabled]="value >= 7">
    <app-icon
      name="add"
      [color]="Color.light"></app-icon>
  </button>
</div>
