<a (click)="sortEvent(name)">
    <div class="f-row j-start ">
        <label class="mat-body-2">{{ sort.enumList[name] }}</label>

        <div *ngIf="sort.active == name; else inactive">
            <app-icon
                *ngIf="sort.direction == SortDirection.Asc"
                name='stat_1'
                [color]="Color.accent"
            ></app-icon>
            <app-icon
                *ngIf="sort.direction == SortDirection.Desc"
                name='stat_minus_1'
                [color]="Color.warn"
            ></app-icon>
        </div>

    </div>

</a>

<ng-template #inactive>
    <app-icon
    *ngIf="sort.direction == SortDirection.None"
    name='minus'
    [color]="Color.disabled"
></app-icon>
</ng-template>