@switch (level) {
    @case(0){
        <h1 >{{ label }}</h1>
    }

    @case(1){
        <h2 >{{ label }}</h2>
    }

    @case(2){
        <h3 >{{ label }}</h3>
    }

    @case(3){
        <h4>{{ label }}</h4>
    }

    @case(4){
        <label>{{ label }}</label>
    }

    @case(5){
        <blockquote>{{ label }}</blockquote>
    }

    @case(6){
        <label class="large">{{ label }}</label>
    }

    @case(7){
        <label class="large muted">{{ label }}</label>
    }

    @case(8){
        <small>{{ label }}</small>
    }

    @case(9){
        <small class="muted">{{ label }}</small>
    }
}